body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h5, h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

hr {
    border-color: #ddd;
    margin: 20px 0;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.add-btn, .add-btn2, .add-btn3 {
    background-color: #28a745;
}

.log-btn {
    background-color: #dc3545;
}

#todo-list p {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

#todo-list p button {
    background-color: #ffc107;
    color: #333;
    padding: 5px 10px;
}

.todo-grid-container {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    margin-bottom: 10PX;
}

.todo-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.todo-item-grid {
    background-color: #fff;
    padding: 10px;
    
    border-radius: 4px;
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    align-items: center;
}
.del-btn {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}